:root {
    --rosa-principal: #E6007E;
    --rosado-claro: #FAD2E1;
    --rosado-muy-claro: #FFE4EC;
    --rosado-pastel: #F7A8B8;
    --rosado-fuerte: #EC407A;
    --rosado-oscuro: #C2185B;
    --morado-amethyst: #9966CC;
    --azul-medio: #2196F3;
    --azul-fuerte: #1565C0;
    --azul-oscuro: #0D47A1;
    --blanco: #FFFFFF;
    --negro-suave: #333333;
    --letra-pie: #FFFFF7;
    --gris-claro: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

body, p, span, li, a, input, label, button {
    font-family: 'Century Gothic', 'Lato', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive, 'Century Gothic', 'Lato', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}