/* ======================
   FOOTER FINAL – estilo oscuro con rosa
   ====================== */

footer {
    margin-top: 0 !important;
    width: 100%;
    padding: 80px 0 30px;
    background: linear-gradient(to right, #000000, #1a0d0e);
    color: var(--letra-pie);
    border-top-left-radius: 110px;
    line-height: 22px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    flex-basis: 23%;
    padding: 10px;
}

footer .logo {
    width: 90px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 10px var(--pink-accent));
}

footer h3 {
    color: var(--pink-accent);
    width: fit-content;
    margin-bottom: 45px;
    position: relative;
    font-weight: 600;
}

footer ul li {
    list-style: none;
    margin: 10px 0;
}

footer ul li a {
    color: var(--text-light);
}

footer ul li a:hover,
footer .email-id:hover,
footer .social ion-icon:hover {
    color: var(--pink-accent);
}

footer .email-id {
    color: var(--text-light);
}

footer .underline {
    width: 100%;
    height: 4px;
    background: #4b1d33;
    border-radius: 3px;
    position: absolute;
    top: 34px;
    left: 0;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background: var(--pink-accent);
    border-radius: 3px;
    position: absolute;
    animation: moving 2s linear infinite;
}

footer .tel {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--pink-accent);
    margin-top: 12px;
    display: inline-block;
}

footer .social ion-icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: var(--text-light);
    margin-right: 15px;
    cursor: pointer;
}

footer .social-item {
    display: flex;
    align-items: center;
    gap: 8px; /* espacio entre icono y texto */
    margin-bottom: 12px; /* separación entre filas */
}

footer .social-item span {
    color: var(--text-light);
    font-size: 15px;
}


footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #3a0036;
    margin: 50px auto;
}

footer .copyright {
    text-align: center;
    color: var(--text-light);
    margin-top: 10px;
}

@keyframes moving {
    0% { left: -20px; }
    100% { left: 100%; }
}

@media (max-width: 700px) {
    footer .col { flex-basis: 100%; }
}
