/* ======================
   FOOTER FINAL – estilo oscuro con rosa
   ====================== */

footer {
    margin-top: 0 !important;
    width: 100%;
    padding: 80px 0 30px;
    background: linear-gradient(to right, #a89ab9, #8c74ac);
    color: black;
    border-top-left-radius: 110px;
    line-height: 22px;
    
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    flex-basis: 23%;
    padding: 10px;
}

footer .logo {
    width: 90px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 10px #4f1257);
}

footer h3 {
    color: #4f1257;
    width: fit-content;
    margin-bottom: 45px;
    position: relative;
    font-weight: 600;
}

footer ul li {
    list-style: none;
    margin: 10px 0;
}

footer ul li a {
    color: black;
}

footer ul li a:hover,
footer .email-id:hover,
footer .social ion-icon:hover {
    color: #4f1257;
}

footer .email-id {
    color: black;
}

footer .underline {
    width: 100%;
    height: 4px;
    background: #4f1257;
    border-radius: 3px;
    position: absolute;
    top: 34px;
    left: 0;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background: #892097;
    border-radius: 3px;
    position: absolute;
    animation: moving 2s linear infinite;
}

footer .tel {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #4f1257;
    margin-top: 12px;
    display: inline-block;
}

footer .social-item i {
    height: 30px;
    font-size: 20px;
    color: #4f1257;
    margin-right: 15px;
    cursor: pointer;
}

footer .social-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* separación entre filas */
}

footer .social-item span {
    color: black;
    font-size: 15px;
}


footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #3a0036;
    margin: 50px auto;
}

footer .copyright {
    text-align: center;
    color: black;
    margin-top: 10px;
}

@keyframes moving {
    0% { left: -20px; }
    100% { left: 100%; }
}

@media (max-width: 700px) {
    footer .col { flex-basis: 100%; }
}
