# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff:
db.sqlite3
staticfiles/
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml

# Migrations (opcional, si no quieres subirlas)
*/migrations/*.py
*/migrations/*.pyc

.env