{% extends 'home.html' %}
{% block content %}
  <main>
    <div class="form-box">
      <h2>Ingresa nueva contraseña</h2>
      {% if success %}
        <div class="login-alert">{{ success }}</div>
        <a href="{% url 'login:login' %}">Iniciar sesión</a>
      {% elif error %}
        <div class="login-alert">{{ error }}</div>
        <a href="{% url 'login:password_reset' %}">Solicitar nuevo enlace</a>
      {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Restablecer</button>
        </form>
      {% endif %}
    </div>
  </main>
{% endblock %}