
{% extends 'home.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img\Carrusel.webp' %}" class="d-block w-100" alt="Carrusel" height="500">
    </div>
  </div>
</div>

<div class="container-fluid py-5" style="background-color: #ffe6f0;">
    <div class="row justify-content-around">
        <div class="col-md-2 text-center">
            <div class="rounded-circle bg-white shadow-sm mx-auto" style="width: 120px; height: 120px;">
                <img src="{% static 'img/barra1.png' %}" alt="" style="max-width: 80%; max-height: 80%; margin-top: 10%;">
            </div>
            <p class="mt-3 font-family: 'Poppins', sans-serif; ">Profesionales apasionadas por el arte de embellecer tus uñas con precisión y estilo.</p>
        </div>
        <div class="col-md-2 text-center">
            <div class="rounded-circle bg-white shadow-sm mx-auto" style="width: 120px; height: 120px;">
                <img src="{% static 'img/barra.png' %}" alt="" style="max-width: 80%; max-height: 80%; margin-top: 10%;">
            </div>
            <p class="mt-3 font-family: 'Poppins', sans-serif;">Reserva tu cita fácilmente en el horario que más te convenga.</p>
        </div>
        <div class="col-md-2 text-center">
            <div class="rounded-circle bg-white shadow-sm mx-auto" style="width: 120px; height: 120px;">
                <img src="{% static 'img/barra3.png' %}" alt="" style="max-width: 80%; max-height: 80%; margin-top: 10%;">
            </div>
            <p class="mt-3 font-family: 'Poppins', sans-serif;">Un servicio cálido y personalizado para ti</p>
        </div>
        <div class="col-md-2 text-center">
            <div class="rounded-circle bg-white shadow-sm mx-auto" style="width: 120px; height: 120px;">
                <img src="{% static 'img/barra4.png' %}" alt="" style="max-width: 80%; max-height: 80%; margin-top: 10%;">
            </div>
            <p class="mt-3 font-family: 'Poppins', sans-serif;">Libres de tóxicos y manejando estándares de calidad premium</p>
        </div>
        <div class="col-md-2 text-center">
            <div class="rounded-circle bg-white shadow-sm mx-auto" style="width: 120px; height: 120px;">
                <img src="{% static 'img/barra5.png' %}" alt="" style="max-width: 80%; max-height: 80%; margin-top: 10%;">
            </div>
            <p class="mt-3 font-family: 'Poppins', sans-serif;">Cumplimos con estrictos protocolos de limpieza y esterilización</p>
        </div>
    </div>
</div> 

<br>

<div class="container my-5">
    <h2 class="text-center mb-4 text-danger" style="font-family: 'Tinos', serif">
      ¡TUS UÑAS SIEMPRE A LA MODA CON NUESTROS EFECTOS!
    </h2>
  
    <div id="carouselUñas" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center gap-4 flex-wrap">
            <img src="{% static 'img/uñas semipermanentes.jpg' %}" class="servicio-img">
            <img src="{% static 'img/uñas polygel.jpg' %}" class="servicio-img">
            <img src="{% static 'img/uñas press-on.jpg' %}" class="servicio-img">
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center gap-4 flex-wrap">
            <img src="{% static 'img/uñas tradicionales.jpg' %}" class="servicio-img">
            <img src="{% static 'img/uñas dipping.jpg' %}" class="servicio-img">
            <img src="{% static 'img/pies semipermanentes.jpg' %}" class="servicio-img">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselUñas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselUñas" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle"></span>
      </button>
      <div class="carousel-indicators mt-3">
        <button type="button" data-bs-target="#carouselUñas" data-bs-slide-to="0" class="active bg-danger"></button>
        <button type="button" data-bs-target="#carouselUñas" data-bs-slide-to="1" class="bg-danger"></button>
      </div>
    </div>

     <div class="text-center mt-4">
      <a href="{% url 'reserva:reserva' %}" class="btn btn-danger rounded-pill px-5 py-2 fs-5">RESERVA AHORA</a>
    </div>
</div>
{% endblock %}
